# Gradle
.gradle/
build/
app/build/

# IDE
.idea/
*.iml
.vscode/
captures/
.externalNativeBuild/
.cxx/

# 本地配置
local.properties

# Kotlin/Android
.DS_Store
*.apk.idsig

# adb test artifacts
/ui_*.xml
/test_*.png
/sdcard_*
